Ok, I figured out the problem: The reply messages source address is *not* in the link local address space which the firewall would accept (fe80::/10). Furthermore, the source port is 546. The firewall configuration of OpenWrt only opens UDP src port 547...

After opening port 546 with and src 2001:8e0::/32 odhcp6c accepted the IA and everything worked flawless. So odhcp6c is definitely not to blame here, this bug can be closed from that perspective.

However, if a DHCPv6 expert could answer this question:

1. Is the DHCPv6 servers src address choice allowed? I did not find something which says not, at least RFC3315 Section 17.2.3 says only that the reply message should have src address = dst address *if* the original message was received as a unicast address (which it was not...)
2. Is the servers src port of 546 ok? RFC3315 seems also not to specify which src port shall be used...